# DeepSeek model files (too large for GitHub)
DeepSeek/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Cache
.cache/

# Result files
result/
result_table/
result_old/
anomaly_segment_visualization/
# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# 过滤掉所有的模型权重文件夹
models/

# 如果你的 temp.txt 只是临时草稿，不想提交，也可以加进来
temp.txt
Labels/
# paper.tex
